extends layout

block content
    form.log-form(method='POST' action='/signin')
        h1 Log in
        label(for='login') Login:
        input#login(type='text', name='login')
        br
        label(for='password') Password:
        input#password(type='text', name='password')
        br
        button.btn.btn-success(type='submit') Log in
        a.log-redirect(href="/register") Don't have account?