extends layout

block content
    form.log-form(method='POST' action='/signup')
        h1 Register
        label(for='login') Login:
        input#login(type='text', name='login')
        br
        label(for='password') Password:
        input#password(type='text', name='password')
        br
        button.btn.btn-success(type='submit') Create account
        a.log-redirect(href="/login") Already have account?