.text {
    font-size: 1.5vw;
    line-height: 75px;
}

.main-header {
    color: white;
    text-align: center;
    background: rgb(100, 200, 255);
    padding: 10px;
}

.todolist {
    background: rgb(230, 230, 230);
    margin-bottom: 10px;
}

.listheader {
    font-size: 3vw;
}

.listitem {
    text-align: left;
}

.line-inp {
    line-height: 32px;
    vertical-align: middle;
}

.del-form {
    display: inline;
}

.log-form {
    margin: 20px;
}

.log-redirect {
    margin: 5px;
}

.btn-margin {
    margin: 10px;
}