extends layout

block content
    h1.main-header My ToDo lists
    ul
        div.container
            form(method='POST' action='/addlist')
                input#todo.line-inp(type='text', name='name')
                button.btn.btn-success.btn-margin(type='submit') Add new list
            each todolist, i in todolists
                div.row
                    div.text.todolist.col-lg-12
                        span.listheader= todolist.name
                        form.del-form(method='GET' action='/deletelist/'+todolist._id)
                            button.btn.btn-danger.btn-margin.col-lg-1(type='submit') Delete list
                        each item, j in todolist.items
                            div
                                span.text.col-lg-6.listitem= item
                                form.del-form(method='POST' action='/pullitem/'+todolist._id)
                                    input(type='hidden', name='todo', value=item)
                                    button.btn.btn-danger.btn-margin.col-lg-1(type='submit') Delete
                        form(method='POST' action='/pushitem/'+todolist._id)
                            input#todo.line-inp(type='text', name='todo')
                            button.btn.btn-success.btn-margin(type='submit') Add task